@media (max-width: 1180px) {
  .layer-img {
    display: none;
  }
  .hero-first-part {
    width: 33%;
    height: auto;
    margin-right: 11%;
    align-self: flex-end;
  }
  .hero-secend-part {
    width: 37%;
    height: auto;
    align-self: center;
  }
}

@media (min-width: 640px) and (max-width: 1600px) {
  .nav-content {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }
  .logo {
    width: 180px;
    display: flex;
  }
  .logo-text {
    margin-left: 8%;
    font-family: SegoeWP-Light, ﻿AdobeInvisFont, ﻿MyriadPro-Regular;
    font-size: 42.34971px;
    color: rgba(0, 0, 0, 255);
    text-align: left;
  }
  .range-width {
    width: 18%;
  }
  .header {
    padding-top: 20px;
    padding-bottom: 29px;
  }
  .nav {
    display: flex;
    align-self: flex-end;
    width: 394px;
    margin-left: 21px;
  }
  .nav > div {
    font-family: SegoeWPN, ﻿AdobeInvisFont, ﻿MyriadPro-Regular;
    font-size: 20px;
    color: #6c6c6c;
    padding-right: 41px;
  }
  .nav :nth-child(4) {
    padding-right: 0;
  }
  .line {
    visibility: hidden;
    margin-top: 15px;
    margin-bottom: -15px;
    padding-left: 12.5%;
    width: 122%;
    height: 3px;
  }
  .nav > div:hover > .line {
    visibility: visible;
    width: 122%;
    height: 3px;
    margin-top: 15px;
    padding-left: 12.5%;
  }
  .secend-nav {
    display: none;
  }
  /*hero*/
  .hero-content {
    width: 86%;
    margin: auto;
  }
  .hero-first-part {
    margin-top: 5%;
    width: 33%;
    height: auto;
    margin-left: 5%;
    margin-right: 11%;
    align-self: flex-end;
  }
  .hero-secend-part {
    width: 37%;
    height: auto;
    margin-right: 9%;
    align-self: center;
  }
  .hero-secend-part > h4 {
    font-family: SegoeWP-Light, ﻿AdobeInvisFont, ﻿MyriadPro-Regular;
    font-size: 42.34971px;
    color: rgba(255, 255, 255, 255);
    text-align: left;
  }
  .hero-secend-part > p {
    font-family: SegoeWP-Light, ﻿AdobeInvisFont, ﻿MyriadPro-Regular;
    font-size: 21.34971px;
    color: rgba(255, 255, 255, 255);
    text-align: left;
  }
}

@media (min-width: 480px) and (max-width: 640px) {
  .nav-content {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }
  .logo {
    width: 208px;
    display: flex;
  }
  .logo-text {
    margin-left: 8%;
    font-family: SegoeWP-Light, ﻿AdobeInvisFont, ﻿MyriadPro-Regular;
    font-size: 42.34971px;
    color: rgba(0, 0, 0, 255);
    text-align: left;
  }
  .logo-icons {
    width: 53px;
    height: 52px;
  }
  .header {
    padding-top: 20px;
    padding-bottom: 15px;

    align-self: flex-end;
  }
  .secend-nav {
    width: 56px;
    height: 44px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: #5094f2;
    justify-content: center;
    align-items: center;
  }
  .secend-nav > div {
    margin: 3px 0;
    width: 63%;
    height: 13.6%;
    background-color: white;
  }
  .nav {
    display: none;
  }

  /*hero*/
  .layer-img {
    display: none;
  }
  .hero-first-part {
    width: 33%;
    height: auto;
    margin-right: 5%;
    align-self: flex-end;
  }
  .hero-secend-part {
    width: 47%;
    height: auto;
    margin-right: 0;
    align-self: center;
  }
  .hero-content {
    padding-top: 5%;
    width: 90%;
    margin: auto;
  }
  .hero-secend-part > h4 {
    font-family: SegoeWP-Light, ﻿AdobeInvisFont, ﻿MyriadPro-Regular;
    font-size: 32.34971px;
    color: rgba(255, 255, 255, 255);
    text-align: left;
  }
  .hero-secend-part > p {
    font-family: SegoeWP-Light, ﻿AdobeInvisFont, ﻿MyriadPro-Regular;
    font-size: 15.34971px;
    color: rgba(255, 255, 255, 255);
    text-align: left;
  }
  .button-content > .button-text {
    font-family: SegoeWPN-Light, ﻿SegoeWP-Light, ﻿AdobeInvisFont,
      ﻿MyriadPro-Regular;
    font-size: 122.34971px;
    color: rgba(255, 255, 255, 255);
    align-self: center;
    margin-left: 5%;
  }
}

@media (max-width: 480px) {
  .logo {
    width: 208px;
    display: flex;
  }
  .logo-text {
    margin-left: 8%;
    font-family: SegoeWP-Light, ﻿AdobeInvisFont, ﻿MyriadPro-Regular;
    font-size: 42.34971px;
    color: rgba(0, 0, 0, 255);
    text-align: left;
  }

  .nav-content {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .secend-nav {
    margin: 15px 0;
    width: 56px;
    height: 44px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: #5094f2;
    justify-content: center;
    align-items: center;
  }

  .secend-nav > div {
    margin: 3px 0;
    width: 63%;
    height: 13.6%;
    background-color: white;
  }
  .nav {
    display: none;
  }

  /*hero*/
  .layer-img {
    display: none;
  }
  .hero-first-part {
    width: 100%;
    height: auto;
    margin-right: 0;
    align-self: flex-end;
    padding-top: 5%;
    padding-bottom: 5%;
  }
  .hero-secend-part {
    width: 100%;
    height: auto;
    margin-right: 0;
    align-self: center;
    padding-top: 5%;
    padding-bottom: 5%;
  }
  .hero-content {
    padding-top: 5%;
    padding-bottom: 5%;
    width: 90%;
    margin: auto;
  }
  .hero-secend-part > h4 {
    font-family: SegoeWP-Light, ﻿AdobeInvisFont, ﻿MyriadPro-Regular;
    font-size: 22.34971px;
    color: rgba(255, 255, 255, 255);
    text-align: left;
  }
  .hero-secend-part > p {
    font-family: SegoeWP-Light, ﻿AdobeInvisFont, ﻿MyriadPro-Regular;
    font-size: 12.34971px;
    color: rgba(255, 255, 255, 255);
    text-align: left;
  }
}
